body::before{
    display: block;
    content: '';
    height: 60px;
}
@media(max-width:768px){
    .map{
        display: none;
    }
}
@media(min-width:768px) {
    .news-input{
        width: 50%;
    }

}